body, html
{
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body
  {
    
    background-image: url("bg11.png");
    /*background-attachment: fixed;*/
    background-repeat:no-repeat;
	background-size:100% 100%;
	/*backdrop-filter:blur(5px);*/
	background-attachment: fixed;
    background-size: cover;
    position: relative;
      
  }
  

      
  h2{
      color: black;
      font-size:2.5em;
      font-family: sans-serif;
      text-align:center;
      font-weight: bold;
      text-shadow: -3px 3px 18px #000000;
      
  }

  .table-size {
    width: 80%;
    height: 40%;
  }

  .dark-border {
    border-color: #333;
  }

  .table td, th {
    border: 1px solid #2a1f1f;
    text-align: left;
    padding: 8px;
    
  }
  /* .table th{
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #CF8CD5;
      color: black;
  } */

  .btn{
    background-color: #d6aa8e;
    color:black;
    border: none;
    border-radius: 3px;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 5px;
  
  }